*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bs-dark-color: #1a1d20;
    --bs-dark-primary: #1c1c1c;
    --bs-main-color: #fff;
    --bs-primary-color: #c6c6c6;
    --bs-secondary-color: #29a9fd;
    --bs-supporting-color: #c850c0;
}
h1,h2,h3,h4,h5{
    font-family: 'Lexend Deca', sans-serif;
    color: var(--bs-dark-color);
}
h1{
    font-size: 3rem;
}
h2{
    line-height: 3rem;
    font-weight: 600;
    font-size: 2.6rem;
}

.common-heading{
    font-size: 2rem;
    letter-spacing: 0.01rem;
    font-weight: 500;   
}
.common-title{
    margin-bottom: 4.2rem;
}
p{
    margin: 0;
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--bs-dark-color);
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}
a{
    text-decoration: none;
    
}
li{
    list-style: none;
}
button, a{
    font-size: 1rem !important;
    letter-spacing: 0.03rem;
    word-spacing: .1rem;
    margin-bottom: 20px;
}
.nav-link{
    color: var(--bs-main-color);
    /* font-weight: light; */
}
.nav-link:hover{
    color: var(--bs-secondary-color) !important;
}
/* hero section start */

.hero-section .container{
    /* display: grid;
    grid-template-columns: auto; */
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    height: inherit;
    padding-top: 30px;
    padding-bottom: 70px;
    /* position: relative;    */

}
/* .hero-video--section{
    margin-top: -800px;
} */
/* .container  video{
    margin-top: -800px;
} */

.bg-main{
   height: 80vh;
   position: relative;
}

.hero-video--section{
    width: 20rem;
    border-radius: 1rem;
   

}
.bg-color{
    background-color: var(--bs-dark-primary);
}
.bg-theme{
    color: var(--bs-supporting-color);
    background-image: none!important;
}
.text-grey{
    color: var(--bs-primary-color);
}
.custom-shape-divider-bottom-1720779375 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1720779375 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 135px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1720779375 .shape-fill {
    fill: #fff;
}


/* services section */

.service-section{
   padding: 4rem 0 2rem 0 !important;
}
.icon-span{
    width: 2rem;
    height: 2rem;
    background-color: var(--bs-secondary-color);
    color: var(--bs-main-color);
}

.card-box:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
   }

/* .row figure img{
  width: 500px;
} */
/* .more-info-section{
    
    background-attachment: fixed;
} */
.more-info-section .img-section{
    position: relative;
}
.more-info-section .img-section img{
   
    width: 70%;
}
.business-section{
    padding-top: 3rem;
}
.common-section{
    padding: 5rem 0 5rem 0;
}

.carousel .card{
    background-color: #262631;
    color: var(--bs-main-color);
    transition: all 0.3s linear;

}
.carousel-inner .card p{
    color: var(--bs-main-color);
}

.carousel-inner .card:hover{
    background: var(--bs-main-color);
    color: var(--bs-dark-color);
}

.carousel-inner .card:hover p{
    color: var(--bs-dark-color);
}
.fa-star{
    color: var(--bs-supporting-color);
}

.carousel-indicators{
    bottom: -10%;
}

.carousel-indicators [data-bs-target] {
    width: .7rem;
    height: .7rem;
    background-color: var(--bs-secondary-color);
}


/* expert panel */

.text-grey{
    color: var(--bs-primary-color);
}
.text-light-grey{
    color: var(--bs-primary-color);
}

/* contact section  */

.contact-section{
    position: relative;
}
.contact-section .common-title{
    padding-top: 6rem;
}

.contact-section .form-section{
    width: 40%;
}

.custom-shape-divider-top-1720777142 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1720777142 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1720777142 .shape-fill {
    fill: #FFFFFF;
}

.main-footer-section{
    padding: 0 0 4rem 0;
    background-color: var(--bs-dark-primary);
    
    color: var(--bs-main-color);
}
.contact-div{
    background-color: #222;
    padding-bottom: 15px;
    
}
.icon-div {
    width: 5rem;
    height: 5rem;
    
   
}

.footer-links ul li{
    font-size: 14px;
}
.footer-links{
    padding: 0 0px 0 20px;
}

@media screen and (max-width:1200px){
    .hero-video--section{
        width: 18rem;
        border-radius: 1rem;
    }
}

@media screen and (max-width:998px) {
    .navbar-toggler{
        border-color: var(--bs-main-color);
    }
    .navbar-toggler-icon{
    color:var(--bs-main-color);
    background-color: var(--bs-main-color);
    }
    h1{
        font-size: 2.2rem;
        /* text-align: center; */
        margin: auto;
        
    }
    section .common-heading{
        font-size: 2rem;
    }
    section .para-width{
        width: auto;
    }
    .hero-section{
        height: 600px;
        
    }
    .more-info-section{
        text-align: center;
    }
    .carousel .carousel-indicators{
        bottom: -5%;
    }
    .form-control{
        font-size: 14px;
        color: #222!important;
        width: 110%;
        /* display: flex;
        justify-content: center; */
        align-items: center;
        
        
        
    }
    .footer-links{
        padding: 0 0 0 5px;
    }
    .expert-section .common-heading{
        font-size: 1.8rem;
        font-weight: 500;
    }
}
.row .fa-solid{
    padding-top: 6px;
    
    
}

